<!-- your html code here -->
<div class="container d-flex flex-column mt-5">
    <div class="d-flex flex-column align-items-center border solid rounded border-white p-4">
        <h1 class="titulo2" style="font-family: 'Oswald', sans-serif;">Reserva ya tu copia de GTA VI</h1>
        <form class="bg-dark">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-md-12 text-white col-form-label">Email:</label>
                <div class="col-md-12">
                    <input type="email" class="form-control" id="inputEmail3" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputtext" class="col-md-12 text-white col-form-label">Deja tu mensaje:</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="inputtext">
                </div>
            </div>
            <!-- Button trigger modal -->
            <button type="submit" class="btn btn-warning btn-outline-light d-block mt-4 mx-auto" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Reserva ya!
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Enhorabuena!</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Recibira en breves instrucciones en su correo para realizar finalizar la reserva.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn  btn-outline-light" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>